body {
  font-family: "Roboto", sans-serif;
}

#logo {
  height: 18vh;
}

@media only screen and (max-width: 400px) {
  #logo {
    height: 10vh;
  }
}

@media only screen and (max-width: 768px) {
  #logo {
    height: 15vh;
  }
}

#about-me-paragraph{
    
}


/* stuff I've tried to fix figure:
.figure-img .img-fluid .rounded {
  max-width: 100%;
  height: auto;
}

making margin-right and padding-right 0px for column and figure

#headshot-figure{
    margin: 0;
}
#figure-override {
    margin: 0;
}

here is what I had before changing to Bootstrap columns
.row {
  display: flex;
  width: 100%;
}

.column {
  flex: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.figure-img .img-fluid .rounded {
  max-width: 100%;
  height: auto;
}

.figure-caption{
    margin: 0;
}