body {
  font-family: "Roboto", sans-serif;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.navbar .navbar-nav {
  display: flex;
  float: none;
  align-content: center;
}

#navbarNavAltMarkup {
  font-size: 2.75vh;
}

#logo {
  height: 18vh;
}

@media only screen and (max-width: 400px) {
  #logo {
    height: 10vh;
  }
}

@media only screen and (max-width: 768px) {
  #logo {
    height: 15vh;
  }
}

img.img-fluid.homepage-image {
  box-shadow: 10px 10px 5px grey;
}
#about-me {
  text-align: center;
}

#paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#figure-left-column {
  margin: 10px 0 0 10px;
}
#figure-right-column {
  margin: 10px 10px;
  display: flex;
}
.ul-links {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.my-icons {
  font-size: 100px;
}

#contact-h1 {
  text-align: center;
  margin: 10px;
}
